<h2 mat-dialog-title>更改密码</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordFormGroup)"
      #changePasswordFormGroup="ngForm" class="changePasswordForm">
  <mat-dialog-content>
    <div class="form-inputs">
      <div class="form-inputs-inner">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label><label for="oldPassword">旧密码</label></mat-label>
          <input matInput id="oldPassword" formControlName="oldPassword"
                 [placeholder]="'旧密码'" type="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label><label for="newPassword">新密码</label></mat-label>
          <input matInput id="newPassword" formControlName="password"
                 [placeholder]="'新密码'" [type]="passwordVisible ? 'text' : 'password'">
          <button mat-button mat-icon-button type="button" matSuffix
                  (click)="passwordVisible = !passwordVisible" class="password-visible-toggle"
                  [matTooltip]="passwordVisible? '隐藏密码' : '显示密码'">
            <mat-icon>{{passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label><label for="password-repeat">重复密码</label></mat-label>
          <input matInput id="password-repeat" formControlName="passwordConfirm"
                 [type]="passwordVisible ? 'text' : 'password'"
                 [placeholder]="'重复密码'"
                 [errorStateMatcher]="passwordErrorStateMatcher">
          <button mat-button mat-icon-button type="button" matSuffix
                  (click)="passwordVisible = !passwordVisible" class="password-visible-toggle"
                  [matTooltip]="passwordVisible? '隐藏密码' : '显示密码'">
            <mat-icon>{{passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordFormGroup.hasError('passwordMismatch')">
            两次输入的密码不一致
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>取消</button>
    <div class="inflate"></div>
    <button mat-button color="primary" mat-dialog-close type="submit" [disabled]="changePasswordFormGroup.invalid">
      更改密码
    </button>
  </mat-dialog-actions>
</form>

