.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fafafa;
  color: #555;
}

.page-wrapper .page-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.page-wrapper .page-container .header {
  margin: 20px 10px 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form .operations {
  margin-right: 10px;
  display: flex;
}

.form .operations .operation-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.form .operations .operation-container button {
  margin-bottom: 10px;
}

.form .form-field {
  /*margin-top: 10px;*/
  /*margin-left: 10px;*/
  margin: 10px 10px 0;
  flex: 1 1 auto;
}

.table {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table mat-paginator {
  background: #fafafa;
}

.table .table-container {
  width: 100%;
  background: #fafafa;
}

.inflate {
  flex: 1 1 auto;
}

@media (max-width: 599px) {
  .page-wrapper .page-container {
    padding-bottom: 0;
  }

  .page-wrapper .page-container .header {
    margin: 0 10px 20px;
  }

  .table-container {
    width: 100%;
  }

  .table {
    margin: 0;
    width: 100vw;
    /*min-width: 400px;*/
  }
}
