.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  color: #555;
  background: rgba(250, 250, 250, 0.7);
}

.page-wrapper .page-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  max-width: 100vw;
}

.page-wrapper .page-container .header {
  margin: 20px 10px 20px;
}

.page-wrapper .page-container .cards {
  margin: 0 80px;
  display: flex;
  justify-content: center;
}

.page-wrapper .page-container .cards .card-container {
  box-sizing: border-box;
  margin: 24px 16px;
  width: 500px;
  max-width: 100vw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.page-wrapper .page-container .cards .card-container p {
  margin: 10px 20px;
}

.page-wrapper .page-container .cards .card-container .card-column-info{
  color: #3f51b5;
  margin-left: 20px;
  padding-right: 15px;
}

.page-wrapper .page-container .cards .card-container-info {
  box-sizing: border-box;
  max-width: 400px;
  min-width: 280px;
  margin: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-wrapper .page-container .cards .card-container-info h2 {
  font-size: 20px;
}

@media (max-width: 599px) {
  .page-wrapper .page-container .header {
    margin: 0 10px 20px;
  }

  .page-wrapper .page-container .cards .card-container {
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
