<div class="background-wrapper">
  <div class="page-wrapper">
    <div class="page-container">
      <h1 class="header mat-display-3">欢迎来到疫苗预约接种系统</h1>
      <div class="operations">
        <div class="operation-container">
          <a mat-stroked-button color="primary" [routerLink]="'/register'" class="button">
            注册
          </a>
        </div>
        <div class="operation-container">
          <a mat-flat-button color="primary" [routerLink]="'/login'" class="button">
            登录
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

