.background-wrapper {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: top center;
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.65);
}

.page-wrapper .page-container {
  max-height: calc(100vh - 50px);
  padding: 40px 0;
  width: 386px;
  max-width: 100vw;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #a1a6a8;
  display: flex;
  flex-direction: column;
}

.page-wrapper .page-container .site-header {
  margin: 0 40px 20px;
}

.page-wrapper .page-container .login-form {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-wrapper .page-container .login-form .form-inputs {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-wrapper .page-container .login-form .form-inputs .form-inputs-inner {
  margin: 20px 40px;
}

.page-wrapper .page-container .login-form .form-field {
  width: 302px;
}

.page-wrapper .page-container .operations {
  flex: 0 0 auto;
  margin: 20px 40px 0;
  display: flex;
}

.page-wrapper .page-container .operations .operations-alter,
.page-wrapper .page-container .operations .operations-main {
  flex: 0 0 auto;
}

.page-wrapper .page-container .operations .inflate {
  flex: 1 1 auto;
}

@media (max-width: 599px) {
  .page-wrapper {
    align-items: unset;
  }

  .page-wrapper .page-container {
    width: 304px;
    border: none;
  }

  .page-wrapper .page-container .site-header,
  .page-wrapper .page-container .login-form .form-inputs .form-inputs-inner,
  .page-wrapper .page-container .operations {
    margin-left: 0;
    margin-right: 0;
  }
}
